/** @format */

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-Regular.woff2') format('woff2'),
		url('./SFProText-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-Italic.woff2') format('woff2'),
		url('./SFProText-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-Bold.woff2') format('woff2'),
		url('./SFProText-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-BoldItalic.woff2') format('woff2'),
		url('./SFProText-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-Medium.woff2') format('woff2'),
		url('./SFProText-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-MediumItalic.woff2') format('woff2'),
		url('./SFProText-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-Light.woff2') format('woff2'),
		url('./SFProText-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-LightItalic.woff2') format('woff2'),
		url('./SFProText-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-Thin.woff2') format('woff2'),
		url('./SFProText-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./SFProText-ThinItalic.woff2') format('woff2'),
		url('./SFProText-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}
